.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
^~$*
data-synthetic/data-template/
data/synthetic/data-template/
*_cache/
*_files/

outputs/
/.quarto/
.Renviron
.Renviron.example
/mynotes.txt
/3_sleep.rmarkdown
/3_sleep_files
/3_sleep_cache/*
deprecated/
tinytable_assets/
docs/
_site/

**/*.quarto_ipynb
data/clean/*
*.knit.md