.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
^~$*
data-synthetic/data-template/
data/synthetic/data-template/
*_cache/
*_files/
.vscode/
outputs/
/.quarto/
.Renviron
.Renviron.example
/mynotes.txt
/3_sleep.rmarkdown
/3_sleep_files
/3_sleep_cache/*
deprecated/
tinytable_assets/
docs/
_site/
_freeze/R/stage_1_simulations/

**/*.quarto_ipynb
data/clean/*
*.knit.md

/.luarc.json

# Exclude missingness analysis script
R/missingness_analysis.R
